
*.opendb
*.ipch
*.tlog
*.lastbuildstate
*.tlog
*.tlog
*.tlog
Common/Debug/Common.tlog/CL.read.1.tlog
*.tlog
*.tlog
*.tlog
*.tlog
*.idb
*.tlog
CSC8503/CSC8503Common/Debug/CSC8503Common.idb
*.lastbuildstate
*.log
*.idb
*.pdb
*.tlog
*.exe
*.pdb
*.ilk
